<table class="w-full divide-y divide-gray-200 table-results" id="coeficientes-cruce-table">
  <thead class="bg-slate-200">
    <tr>
      <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase">Nomenclatura</th>
      <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase">Tipo Transporte</th>
      <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase">Coeficiente</th>
      <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase">¿Estándar?</th>
      <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase">Proyecto</th>
      <th class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase">Acciones</th>
    </tr>
  </thead>
  <tbody id="coeficientes-cruce-table-body" class="divide-y divide-gray-200">
    {% include 'partials/CoeficientesCruce/coeficientes_cruce_table_body.html' %}
  </tbody>
</table>
