__pycache__/
*.pyc
.git/
.gitignore
.env
.env.*
*.sqlite3
db.sqlite3
staticfiles/
README.md
.DS_Store
benchmark_js.py

db.sqlite3
venv
__pycache__
.env
context
data.json
*.log
*basurero*
.opencode
*copy.*
*RR_Temp*
DESIGN.md
PRODUCT.md
skills*
.gitignore
.impeccable
audit_report.md 
plantilla_importacion_eitapp.xlsx 
media/
.dockerignore