db.sqlite3
venv
__pycache__
.env
context
migrations
data.json
*.log
*basurero*
*copy.*
*RR_Temp*
DESIGN.md
PRODUCT.md
skills*
.gitignore
.impeccable
audit_report.md 
plantilla_importacion_eitapp.xlsx 
AGENTS*
.gitignore
TODO*
*pencod*
node_modules/
tui.json