{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>EITApp - Gestor de Medición de Tránsito</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://unpkg.com/htmx.org@2.0.0" defer></script>
    <script src="https://unpkg.com/hyperscript.org" defer></script>
</head>

<body class="bg-gray-50 text-gray-900 font-sans leading-normal tracking-normal">
    {% include "navbar.html" %}
    
    <div id="toast-container"></div>
    
    {% block content %}
    {% endblock %}
    
    <script src="{% static 'js/core/toast.js' %}" defer></script>
    <script src="{% static 'js/core/modal.js' %}" defer></script>
    <script src="{% static 'js/core/htmx-csrf.js' %}" defer></script>
    <script src="{% static 'js/dropdown_handler.js' %}" defer></script>
</body>
</html>