{% extends "proyecto_base.html" %}
{% load static %}
{% load red_vial_extras %}

{% block section_content %}
<div class="section-header flex justify-between items-center mb-6">
  <h2 class="text-xl font-semibold text-gray-800">Análisis de Flujos</h2>
  <span class="ml-auto px-3 py-1 bg-indigo-100 text-indigo-900 text-lg rounded-full">{{ total_records }} registros</span>
</div>

{% include 'partials/analisis_flujos/analisis_flujos_container.html' %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/features/bulk-crud.js' %}" defer></script>
<script src="{% static 'js/features/analisis-flujos.js' %}" defer></script>
<script src="{% static 'js/features/chart-per-pc-flujos.js' %}"></script>
<script src="{% static 'js/features/chart-detalle-horario.js' %}"></script>
{% endblock extra_js %}
