{% extends "proyecto_base.html" %}
{% load static %}

{% block section_content %}

<div class="section-header flex justify-between items-center mb-6">
  <h2 class="text-xl font-semibold text-gray-800">Arcos del Proyecto</h2>
  <span class="ml-auto px-3 py-1 bg-indigo-100 text-indigo-900 text-lg rounded-full" id="items-count-badge" >{{ proyecto.arcos.count }}</span>
</div>

<div class="bg-white rounded-lg shadow overflow-hidden">
  <div class="p-4">
    <div class="overflow-x-auto">
      {% include 'partials/Arcos/arcos_table.html' with proyecto=proyecto arcos=arcos sort_by=sort_by sort_order=sort_order %}

    </div>
  </div>
</div>

{% endblock %}

<div id="data-crud-config" data-table-id="arcos-table" data-model-name="Arco" data-proyecto-id="{{ proyecto.id }}" data-csrf-token="{{ csrf_token }}" hidden></div>

{% block extra_js %}
<script src="{% static 'js/crud_events.js' %}"></script>
{% endblock %}
