{% extends "proyecto_base.html" %}
{% load static %}

{% block hero_image %}
<div class="flex justify-between items-center mt-2 mb-0">
  <h2 class="text-3xl font-bold text-white mt-4">Parámetros de Arco</h2>
  <span class="ml-auto px-3 py-1 bg-indigo-100 text-indigo-900 text-lg rounded-full" id="parametros-count">{{ page_obj.paginator.count }}</span>
</div>
{% endblock %}

{% block section_content %}
<div class="bg-white rounded-lg shadow overflow-hidden">
  <div class="p-4">
    {% include 'partials/Transyt/parametro_arco_table.html' with proyecto=proyecto items=page_obj.object_list %}
  </div>
</div>
{% endblock %}
