{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="flex-1 p-5">
  <div class="container mx-auto bg-gray-100 p-2 rounded-lg">
    <div class="bg-gradient-primary text-white p-8 rounded-xl shadow-lg mb-1">
      <div class="flex justify-between mt-3 text-sm opacity-90">
        <h1 class="text-2xl font-bold">Coeficientes de Cruce</h1>
        <span class="px-3 py-1 bg-indigo-100 text-indigo-800 text-lg rounded-full" id="coeficientes-count">{{ coeficientes.count }}</span>
      </div>
    </div>
    <div class="container bg-gray-100 p-4 rounded-lg">
      {% include 'partials/CoeficientesCruce/coeficientes_cruce_table.html' with coeficientes=coeficientes sort_by=sort_by sort_order=sort_order %}
    </div>
  </div>
</main>
{% endblock %}
