{% extends "proyecto_base.html" %} {% block section_content %}

<div class="section-header">
  <h3>Nodos del Proyecto</h3>
  <span class="badge bg-success ms-auto fs-4"
              >{{ proyecto.nodos.count }}</span>
</div>

<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-hover" id="nodos-table">
        <thead>
          <tr>
            <th>N°</th>
            <th>Calle 1</th>
            <th>Calle 2</th>
            {% comment %} <th>Intersección</th> {% endcomment %}
            <th>Es PC</th>
            <th></th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% if nodos %}
          {% for nodo in nodos %}
            {% include 'red_vial/nodo_row_partial.html' with nodo=nodo %}
          {% endfor %}
          {% endif %}
          <form
            id="newNodoForm"
            enctype="multipart/form-data"
            action="{% url 'nodo_create' proyecto.id %}"
            method="POST"
          >
            {{ error}} {% csrf_token %}
            <tr>
              <td>
                <input type="number" id="numero" name="numero" class="form-control w-100" value="{{ proyecto.nodos.count|add:1 }}" min="1" max="99"/>
              </td>
              <td>
                <select class="form-select" name="calle_1">
                  <option value="">Seleccionar calle...</option>
                  {% for calle in proyecto.calles.all %}
                  <option value="{{ calle.id }}">{{ calle.nombre }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select class="form-select" name="calle_2">
                  <option value="">Seleccionar calle...</option>
                  {% for calle in proyecto.calles.all %}
                  <option value="{{ calle.id }}">{{ calle.nombre }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input fs-4" type="checkbox" name="is_pc" id="is_pc_new">
                  {% comment %} <label class="form-check-label" for="is_pc_new">PC</label> {% endcomment %}
                  <input type="number" id="numero_pc" name="numero_pc" class="form-control w-50 " placeholder="N°" min="1" max="99" />
                </div>
            </td>
            <td>
              </td>
              <td>
                <button type="submit" class="btn btn-sm btn-outline-success">
                  Guardar
                </button>
              </td>
            </tr>
          </form>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  // Toggle PC number input visibility
  document.getElementById('is_pc_new').addEventListener('change', function() {
    const pcNumInput = document.getElementById('numero_pc');
    pcNumInput.style.display = this.checked ? 'flex' : 'none';
    if (!this.checked) pcNumInput.value = '';
  });
</script>

{% endblock %}
