{% extends "proyecto_base.html" %} {% block section_content %}

<div class="section-header">
  <h3>Calles del Proyecto</h3>
  <span class="badge bg-primary ms-auto fs-4"
              >{{ proyecto.calles.count }}</span>
</div>

<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-hover" id="calles-table">
        <thead>
          <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Nodos Asociados</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% if calles %}
          {% for calle in calles %}
            {% include 'red_vial/calle_row_partial.html' with calle=calle %}
          {% endfor %}
          {% endif %}
          <form
            id="newCalleForm"
            enctype="multipart/form-data"
            action="{% url 'calle_create' proyecto.id %}"
            method="POST"

            hx-post="{% url 'calle_create' proyecto.id  %}" 
            hx-target="#newCalleForm" 
            hx-swap="beforeend"
            hx-on:htmx:after-request="this.reset()"
            hx-trigger="click from:#submit-all"
          >
            {{ error}} {% csrf_token %}
            <tr>
              <td>
                <input type="number" id="numero" name="numero" class="form-control w-25" value="{{ proyecto.calles.count|add:1 }}"/>
              </td>
              <td>
                <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre de la calle" />
              </td>
              <td></td>
              <td>
                <button type="submit" class="btn btn-sm btn-outline-success">
                  Guardar
                </button>
              </td>
            </tr>
          </form>
          <button type="button" class="btn btn-primary" id="submit-all">Submit All</button>
        </tbody>
      </table>
    </div>
  </div>
</div>




{% endblock %}
