{% extends "base.html" %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="mt-5 bg-light p-4 rounded">
            <h1 class="text-center project-header">{{ list_title }}</h1>
            <ul class="list-group">
                {% if proyectos %}
                    {% for proyecto in proyectos %}
                        <a href="{% url 'proyecto_resumen' proyecto.id %}" class="text-decoration-none">
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>{{ proyecto.title }}</h5>
                                    <p>{{ proyecto.mandante }}</p>
                                </div>
                                <p>Descripción: {{ proyecto.description }}</p>
                            </li>
                        </a>
                    {% endfor %}
                {% else %}
                    <p class="text-center">No hay proyectos registrados.</p>
                {% endif %}
            <button class="btn btn-primary mt-3" onclick="window.location.href='{% url 'proyecto_create' %}'">
                Crear Proyecto
            </button>
            </ul>
        </div>
    </div>
</main>






{% endblock %}