{% extends "base.html" %}
{% load static %}

{% block content %}



  <main class="flex-1 p-5">
    <div class="container mx-auto bg-gray-100 p-2 rounded-lg">
      <!-- Project Header -->
      <div class="bg-gradient-primary text-white p-8 rounded-xl shadow-lg mb-1">
        <div class="flex justify-between mt-3 text-sm opacity-90">
          <h1 class="text-2xl font-bold">Tipos de Regulación</h1>
          <span class="px-3 py-1 bg-indigo-100 text-indigo-800 text-lg rounded-full" id="regulaciones-count">{{ regulaciones.count }}</span>
        </div>
      </div>

      <!-- Section Content -->
      <div class="container bg-gray-100 p-4 rounded-lg">
              {% include 'partials/Regulaciones/regulaciones_table.html' with regulaciones=regulaciones sort_by=sort_by sort_order=sort_order %}

      </div>
    </div>
  </main>

{% endblock %}
